<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <link href="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="<%= globals.LOGO %>">

    <title>
        <%= globals.app_name %> API</title>
    <style type="text/css">
        .medium-text {
            font-size: 20px;
            color: white;
        }
    </style>
</head>

<body>
    <BR>
    <BR>

   
    <div id="app">
        <v-app id="inspire">

            <v-layout justify column>
                
                <v-expansion-panel popout>
                    <v-expansion-panel-content v-for="(message, i) in messages" :key="i" hide-actions>
                        <v-layout slot="header" align-center row spacer>
                            <v-flex sm1 xs1 md1 lg1 xl1>
                                <v-avatar slot="activator" size="36px">
                                    <v-icon :color="message.color">{{ message.icon }}</v-icon>
                                </v-avatar>
                            </v-flex>
                            <v-flex sm3 xs3 md3 lg3 xl3>
                                <strong v-html="message.title"></strong>
                                <v-chip v-if="message.meth" :color="`${message.color} lighten-4`" label small class="ml-0">
                                    {{ message.meth }}
                                </v-chip>
                            </v-flex>
                            <v-flex sm3 xs3 md3 lg3 xl3>
                                <strong v-html="message.name"></strong>
                            </v-flex>
                            <v-flex sm4 xs4 md4 lg4 xl4>
                                <v-flex v-if="message.link" class="grey--text" ellipsis hidden-sm-and-down>
                                    {{ message.link }}
                                </v-flex>
                                <v-flex v-if="message.imp" class="grey--text" ellipsis hidden-sm-and-down>
                                    <p style="color:darkred">SHOW IMPORTANT NOTE INSIDE</p>
                                </v-flex>
                            </v-flex>
                        </v-layout>
                        <v-card dark>
                            <v-container>
                                <v-layout>
                                    <v-flex xs12 align-end flexbox>
                                        <v-alert :value="true" outline color="white" style="padding:5px;">
                                            <v-chip color="teal" text-color="white">
                                                <v-avatar>
                                                    <v-icon>check_circle</v-icon>
                                                </v-avatar> MANDATORY
                                            </v-chip>
                                            {{message.mandatory}}
                                        </v-alert>
                                        <v-alert :value="true" outline color="white" style="padding:5px;">
                                            <v-chip outline color="#F0F4C3">
                                                <v-avatar>
                                                    <v-icon>check_circle</v-icon>
                                                </v-avatar>OPTIONAL
                                            </v-chip>
                                            <span>{{ message.optional }}
										</v-alert>
										<v-alert v-if="message.link" :value="true" outline color="white"
											style="padding:5px;">
											<v-chip color="light-green darken-2" text-color="white">
												<v-avatar>
													<v-icon>explore</v-icon>
												</v-avatar> LINK
											</v-chip>
											<span>{{ message.link }}
										</v-alert>
										<v-alert v-if="message.imp" :value="true" outline color="white"
											style="padding:5px;">
											<v-chip color="red darken-2" text-color="white">
												<v-avatar>
													<v-icon>flight_land</v-icon>
												</v-avatar> IMPORTANT
											</v-chip>
											<p v-html="message.imp"></p>
										</v-alert>
										<v-alert v-if="message.exp" :value="true" outline color="white"
											style="padding:5px;">
											<v-chip color="blue darken-2" text-color="white">
												<v-avatar>
													<v-icon></v-icon>
												</v-avatar> EXAMPLE
											</v-chip>
											<p v-html="message.exp"></p>
										</v-alert>
										<v-alert v-if="message.notes" :value="true" outline color="white"
											style="padding:5px;">
											<v-chip color="blue lighten-1" text-color="white">
												<v-avatar>
													<v-icon>bookmark</v-icon>
												</v-avatar> NOTES
											</v-chip>
											<span>{{ message.notes }}
										</v-alert>
										<v-layout style="margin-top:-4px">
											<v-flex xs6 align-end flexbox>
												<v-alert :value="true" outline color="yellow" icon="priority_high"
													style="padding:5px;">
													<span class="grey--text">HEADER : {{ message.is_header }}, PUSH :
														{{ message.is_push }}</span>
                                            <br>
                                            <span>HEADER : {{ message.header }}</span>
                                        </v-alert>
                                    </v-flex>
                                    <v-flex xs6 align-end flexbox>
                                        <v-alert style="margin-left:4px; padding:5px;" :value="true" outline color="yellow" icon="priority_high">
                                            STATUS :
                                            <span v-html="message.status"></span>
                                        </v-alert>
                                    </v-flex>
                                </v-layout>
                                </v-flex>
            </v-layout>
            </v-container>
            <v-card-actions>
            </v-card-actions>
            </v-card>
            </v-expansion-panel-content>
            </v-expansion-panel>
            </v-layout>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>

    <script>
        //console.log('<%= globals.base_url %>enc_dec.php');

        new Vue({
            el: '#app',
            data: () => ({
                messages: [{
                    color: 'teal',
                    icon: 'person',
                    title: '1 : USER',
                    name: 'User Basic',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/basic",
                    mandatory: "name, company_name, email, profession, age, state, city, image, template_id, steps",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used to store user Info",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result",

                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '2 : USER',
                    name: 'Header',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/header",
                    mandatory: "hero_title,hero_subtitle,hero_cta,image,user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used to user Hero Info",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result",

                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '3 : USER',
                    name: 'About',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/about",
                    mandatory: "bio, experiance, project_count, skills, user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used to Store About Info",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '4 : USER',
                    name: 'services',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/services",
                    mandatory: "title,description,user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "YES",
                    header: "api_key",
                    notes: "This api used to Store User Services Info",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '5 : USER',
                    name: 'portfolio',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/portfolio",
                    mandatory: "title, description, link, image, project_order, user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key, authorization",
                    notes: "This api used to Store Portfolio or Project Info",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '6 : USER',
                    name: 'testimonials',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/testimonials",
                    mandatory: "cient_name, testimonial, logo, testimonial_order, user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used to Store Testimonial of User",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '7 : USER',
                    name: 'contact',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/contact",
                    mandatory: "email, phone, address, social_links,user_id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key, authorization",
                    notes: "This api used to Store Contact Info of Users",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '8 : USER',
                    name: 'Footer',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/footer",
                    mandatory: "",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used to Store Footer of User",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '9 : USER',
                    name: 'Get User',
                    meth: 'GET',
                    link: "<%= globals.port_base_url %>api/user",
                    mandatory: "id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key",
                    notes: "This api used for get User",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '10 : USER',
                    name: 'Get All User',
                    meth: 'POST',
                    link: "<%= globals.port_base_url %>api/user",
                    mandatory: "",
                    optional: "location, profession, sort(a-z,z-a,experiance, rating)",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used Get All Users",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },
                {
                    color: 'teal',
                    icon: 'person',
                    title: '11 : USER',
                    name: 'Get All Profession',
                    meth: 'GET',
                    link: "<%= globals.port_base_url %>api/profession",
                    mandatory: "",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Get all Professions",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },
                {
                    color: 'teal',
                    icon: 'person',
                    title: '12 : USER',
                    name: 'Get All LOCATION',
                    meth: 'GET',
                    link: "<%= globals.port_base_url %>api/location",
                    mandatory: "",
                    optional: ",",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Get All Locations",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }
                ,
                {
                    color: 'teal',
                    icon: 'person',
                    title: '13 : USER',
                    name: 'Check UserStep',
                    meth: 'GET',
                    link: "<%= globals.port_base_url %>api/userStep",
                    mandatory: "id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to check User Completed Steps",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '14 : USER',
                    name: 'Update User Basic',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/user",
                    mandatory: "id",
                    optional: "name, company_name, email, profession, age, state, city, image, template_id, steps",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Upadate User Basics",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '15 : USER',
                    name: 'Update About',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/about",
                    mandatory: "id",
                    optional: "bio, experiance, project_count, skills",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update User About",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '16 : USER',
                    name: 'Update Hero',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/hero",
                    mandatory: "id",
                    optional: "hero_title, hero_subtitle, hero_cta, image",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update User Hero Section",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }, {
                    color: 'teal',
                    icon: 'person',
                    title: '17 : USER',
                    name: 'Update Portfolio',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/portfolio",
                    mandatory: "id",
                    optional: "title, description, link, image, project_count",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update Portfolio/Projects",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '18 : USER',
                    name: 'Update Services',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/services",
                    mandatory: "id",
                    optional: "title, description",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update User Services Sections",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '19 : USER',
                    name: 'Update Testimonials',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/testimonials",
                    mandatory: "id",
                    optional: "client_name, testimonial, logo, testimonial_order",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update User Testimonial Section",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '20 : USER',
                    name: 'Update Footer',
                    meth: 'PUT',
                    link: "<%= globals.port_base_url %>api/footer",
                    mandatory: "id",
                    optional: "company, year, additional_links, copyright_text",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Update User Footer Section",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '21 : USER',
                    name: 'Delete Services',
                    meth: 'DELETE',
                    link: "<%= globals.port_base_url %>api/services",
                    mandatory: "id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Delete User Services",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '22 : USER',
                    name: 'Delete Testimonal',
                    meth: 'DELETE',
                    link: "<%= globals.port_base_url %>api/testimonials",
                    mandatory: "id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Delete User Testimonials",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                },{
                    color: 'teal',
                    icon: 'person',
                    title: '23 : USER',
                    name: 'Delete Portfolio/Project',
                    meth: 'DELETE',
                    link: "<%= globals.port_base_url %>api/portfolio",
                    mandatory: "id",
                    optional: "",
                    is_header: "YES",
                    is_push: "NO",
                    header: "api_key,authorization",
                    notes: "This api used to Delete User Portfolio/Project",
                    status: "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
                    imp: "Code 0 =>Failure, Code 1 => succesfully result,",
                }]
            })
        });
    </script>
</body>

</html>